@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Work.css" rel="stylesheet" />
<body>
    <div class="container-fluid Banner">

        <div class="header-content">
            <div class="div1">
                <div class="header-content-heading">
                    Thinking Volunteer Overseas
                </div>
                <div class="header-content-description">
                    Volunteer,interns,and Esl teachers are solving problem and making real difference abroad.finding the perfect program you can trust shoudn't be a problem.
                </div>
            </div>
            <div class="div2">
                <button type="button" class="btn header-button" data-toggle="modal" data-target="#exampleModalLong">
                    Watch the tour
                </button>


            </div>
            <div id="exampleModalLong" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


                        </div>
                        <div class="modal-body">

                            <video controls="controls">
                                <source src="../Images/video.mp4" type="video/mp4" />
                            </video> <!--<iframe id="cartoonVideo" width="560" height="315" src="../Images/video.mp4" frameborder="0" allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header">
        How Volunteer Overseas Works
    </div>
    <div class="section1">

        <div class="section-header">
            <div class="circle">
                1
            </div>
            <div class="header">
                Find your perfect project
            </div>
        </div>

        <div class="section-description">
            <div class="description">
                <div>
                    Research and compare the best projects abroad based on what matters to you:
                </div>
                <div class="mt-4 section1-content">
                    <div><span class="blue section1-content-header">Location</span><span>Where's your dream destination?</span></div>
                    <div><span class="blue section1-content-header">Activity</span><span>What do you see yourself doing?</span></div>
                    <div><span class="blue section1-content-header">Duration</span><span>How much time do you have?</span></div>
                    <div><span class="blue section1-content-header">Start dates</span><span>Fix and flexible start dates(varies by program)?</span></div>
                </div>
            </div>
            <div class="ml-auto image">
                <img src="../Images/works-thumb01.png" />
            </div>
        </div>
    </div>

    <div class="section1">

        <div class="section-header">
            <div class="circle">
                2
            </div>
            <div class="header">
                Apply Now
            </div>
        </div>

        <div class="section-description">
            <div class="description">
                <div>
                    Follow our easy and secure application process:
                </div>
                <div class="mt-4 section2-content">
                    <div class="d-flex mb-1">
                        <div class="inner-circle">
                            1
                        </div>
                        <div class="align-self-center ml-1">
                            Fill out your trip preferences
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="inner-circle">
                            2
                        </div>
                        <div class="align-self-center ml-1">
                            Tell your program why you are good fit
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div class="inner-circle">
                            3
                        </div>
                        <div class="align-self-center ml-1">
                            Reserve your spot with small deposit*
                        </div>
                    </div>
                </div>
                <div class="section2-footer mt-3">
                    *This deposit is generally a small portion of the total project fee. Your deposit secure your spot with the program and shows that you are a serious applicant. this deposit is fully refundable if you are not accepted by the program.
                </div>
            </div>

            <div class="ml-auto image">
                <img src="../Images/works-thumb02.png" />
            </div>

        </div>

    </div>

    <div class="section1">

        <div class="section-header">
            <div class="circle">
                3
            </div>
            <div class="header">
                Wait to hear Great News
            </div>
        </div>

        <div class="section-description">
            <div class="description">
                <div>
                    After you submit your application, you will hear from your program within 3-7 business days.
                </div>
                <div class="mt-2">
                    Applying through Volunteer Overseas automatically qualifies you to:
                </div>
                <div class="mt-4">
                    <div class="d-flex mb-1">
                        <div class="inner-circle">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            Enter to win a scholarship from Volunteer forever (up to  <i class="fa fa-dollar"></i>1,000)
                        </div>
                    </div>
                    <div class="d-flex mb-1 ">
                        <div class="inner-circle">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            Raise funds for your trip on Volunteer forever's no-fee crowdfunding platform
                        </div>
                    </div>
                    <div class="mt-4 footer-3">Talk about great news!</div>
                </div>
            </div>
            <div class="ml-auto image">

                <img src="../Images/works-thumb03.png" />
            </div>
        </div>
    </div>

    <div class="section1">

        <div class="section-header">
            <div class="circle">
                4
            </div>
            <div class="header">
                Finalize your trip
            </div>
        </div>

        <div class="section-description">
            <div class="description">
                <div>
                    After you've been accepted,your program will help you with the not so little details:
                </div>
                <div class="mt-4 section2-content">
                    <div class="d-flex mb-1">
                        <div>

                            <img src="../Images/non-check.png" class="image4" />
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            The remainder of your program fee
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div>
                            <img src="../Images/non-check.png" class="image4" />
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            final travel arrengements
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div>
                            <img src="../Images/non-check.png" class="image4" />
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            your itinerary and work schedule
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div>
                            <img src="../Images/non-check.png" class="image4" />
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            Your medical, dietary or other personal needs
                        </div>
                    </div>
                    <div class="d-flex mb-1">
                        <div>
                            <img src="../Images/non-check.png" class="image4" />
                        </div>
                        <div class="align-self-center ml-1 text-left">
                            And to...
                        </div>
                    </div>
                    <div class="mt-4 footer-3">MAKE A DIFFERENCE VOLUNTEER OVERSEAS!</div>
                </div>

            </div>
            <div class="ml-auto image">

                <img src="../Images/works-thumb03.png" />
            </div>
        </div>
        <div class="text-center mt-5 container-fluid">
            <button class="btn btn-danger begin-btn">
                Begin your journey
            </button>
        </div>
    </div>

   
</body>

